*{
	margin: 0;
	padding:0;
	font-family: monospace;
}

#supdiv{
	background-color:#363636;
	width:auto;
	height:600px;
	z-index: -10;
}

#nav-bar{
	z-index: 10;
	position: absolute;
	top:0;
	width: 1000px;
	float: left;
	margin-top:10px;
}

#nav-bar img{
	float: left;
	margin-right:300px;
	margin-left:80px;
	width:30px;
	height: 30px;
	margin-top:-6px;
	border-radius: 100%;
}
	
#nav-bar ul{
	list-style: none;
}
#nav-bar ul li{
	color:white;
	margin-left:50px;
	float: left;
	transition: .1s linear;
}

#nav-bar ul li:hover{
	text-decoration: underline;
	opacity: .4;
	margin-top:1px;
}

.fa {
  padding: 10px;
  font-size: 10px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa-facebook {
  color: white;
}
.fa-instagram {
  color: white;
}
.fa-linkedin {
  color: white;
}

#subnav{
	float: left;
	width: auto;
	height: auto;
	position: absolute;
	top:-10px;
	z-index: 10;
	margin-top:6px;
	float: right;
	margin-left:1160px;
}
#subnav ul{
	list-style: none;
	float: right;
}
#subnav li{
	float: left;
	transition: .1s linear;
}

#subnav li:hover{
	opacity: .4;
	margin-top:1px;
}

#main-body{
	width:1000px;
	height:600px;
	position: absolute;
	top: 0;
	border-radius:5px;
	background:linear-gradient(to left,whitesmoke, dimgray);
	margin-top: 70px;
	margin-left:150px;
}
#mb1{
	float: left;
}
#mb1 h1{
	color:white;
	font-size:50px;
	margin-top:150px;
	margin-left:20px;
}

#mb1 p{
	font-size:16px;
	font-style: oblique;
	color:white;
	margin-left:20px;
}

.pap{
	color:white;
	margin-left:20px;
}
#mb1 button{
	background:black;
	width:130px;
	height: 40px;
	color:white;
	font-size:14px;
	border:none;
	opacity: 1;
	margin-left:20px;
	margin-top:40px;
	transition: .4s ease;
}

#mb1 button:hover{
	border-radius:10px;
	transform: translateX(10px);
}

#mb2{
	width:400px;
	height:400px;
	background: #36454F;
	float: left;
	margin-top:100px;
	margin-left:100px;
	border-radius:5px;
}

#mb2 h2{
	font-size:26px;
	margin-left:140px;
	margin-top:20px;
	color:white;
}

table,th,td{
	text-align: left;
	color:white;
	font-size:16px;
	margin:0px 10px;
}
td{
	padding:12px 10px;
}